<div class="container-fluid"style="display: flex; align-items: center; justify-content: center; background-color: rgba(255, 255, 255, 0.678); border-radius: 100px; " >
<pre style=" text-align: center; font-family: Nasa; font-size: 15px; margin-bottom: 35px;">

    
<span style="font-family: Nasa ; font-weight: bold; font-size: 35px;">Benvenuti nel futuro dei viaggi: Esplorate l'universo con noi!
Siete pronti a varcare i confini del nostro pianeta e ad avventurarvi nello spazio infinito?</span>

Questo sito web è il vostro punto di partenza per un viaggio extra-spaziale indimenticabile. Che siate sognatori incuriositi, 
astronauti o esploratori esperti, 
qui troverete tutto ciò che serve per preparare il vostro viaggio oltre l'atmosfera terrestre.

<span style="font-family: Nasa ; font-weight: bold;font-size: 25px;">Cosa vi aspetta:</span>

-Destinazioni: Scoprite le meraviglie del sistema solare e oltre, dai pianeti rocciosi alle lune ghiacciate,
 dalle nebulose colorate ai buchi neri misteriosi.
-Veicoli spaziali: Salite a bordo di navicelle all'avanguardia, dotate di tecnologie futuristiche e comfort di alto livello.
-Missioni: Scegliete tra un'ampia gamma di missioni, da semplici gite orbitali a spedizioni interplanetarie di lunga durata.
-Addestramento: Preparatevi al vostro viaggio con un programma di addestramento completo, che vi fornirà le conoscenze e 
le abilità necessarie per affrontare le sfide dello spazio.
-Comunità: Unitevi a una comunità di appassionati di viaggi spaziali, 
condividete le vostre esperienze e preparatevi insieme all'avventura più grande della vostra vita.
<span style="font-family: Nasa ; font-weight: bold;font-size: 25px;">Perché scegliere noi:</span>
Siamo un team di esperti con una comprovata esperienza nel settore dei viaggi spaziali.
Offriamo un servizio personalizzato e completo, dalla scelta della destinazione all'addestramento pre-volo.
Ci avvaliamo delle tecnologie più avanzate per garantirvi un viaggio sicuro e confortevole.
La nostra mission è rendere l'esplorazione spaziale accessibile a tutti, perché crediamo che l'universo sia un patrimonio da condividere.

<span style="font-family: Nasa ; font-weight: bold; font-size: 25px;">Prenotate il vostro viaggio extra-spaziale oggi stesso e preparatevi a vivere un'esperienza che vi cambierà la vita!</span>
</pre>
</div>