<div style="display: flex; flex-direction: column; align-items: center;">
<div *ngFor="let element of persone "class="container "  >
  <div class="card mb-3 "   style="max-width: 1540px; background-color: transparent; ">
    <div class="row g-0">
      <div class="col-md-4 " style="display: flex; justify-content: center ; align-items: center;">
        <img height="250" width="50" src="{{element.immagine}}" class="card-img-top img-fluid"  alt="...">
      </div>
      <div class="col-md-8" style="background-color: rgba(255, 255, 255, 0.678); border-radius: 50px; " >
        <div class="card-body" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px; color: black; font-family: Nasa;">
          <h1 class="card-title">{{element.destinazione}}</h1>
          <p class="card-title text-muted" > {{element.sistema}} </p>
          <p class="card-title"><span style="font-weight: bold;" >Data Partenza:</span> {{element.dataPartenza | date:'medium'}} </p>
          <p class="card-title"><span style="font-weight: bold;">Data Arrivo (Previsto):</span> {{element.dataArrivo | date:'medium'}}</p>
          <p class="card-text " ><span style="font-weight: bold;">Partenza:</span> {{element.partenza}} ({{element.spazioPorti}})</p>
          <p class="card-text " ><small><span style="font-weight: bold;">Durata:</span> {{element.durata}}</small></p>
        
          <p class="card-text"><span style="font-weight: bold; color: black;">Costo:</span> {{element.costo | currency: 'EUR':'symbol':'3.1-3'}}</p>
        </div>
      </div>
    </div>
    
</div>

  
 <!-- 
<div class="card mb-3">
   
    <img height="850" width="250" src="{{element.immagine}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{element.dataPartenza | date:'medium'}} </h5>
      <p class="card-text">{{element.dataArrivo | date:'medium'}}</p>
      <p class="card-text"><small class="text-muted">Costo : {{element.costo}}</small></p>
    </div>
    -->
  </div>
</div>
      